/* --- SCSS PROPERTIES --- */

$backgroundColour1: #f3f3f3;
$backgroundColour2: #e2c13b;
$backgroundColour3: #b1ccdc;
$backgroundColour4: #f3e3a1;
$backgroundColour5: #d2eaf7 ;

$paddingSize1: 1% 5%;
$paddingSize2: 5%;

$borderRadius1: 4px;

$fontSizeHeader1: 38px;
$fontSizeHeader2: 30px;

$fontColour1: #b1ccdc;
$fontColour2: #525252;
$fontColour3: #ffffff;
$fontColour4: #e2c13b;
$fontColour5: #525252;

$newsFontColourStack: (
	headers: $fontColour1,
	subHeader: #e2c13b,
	text: #333
);

/* --- END SCSS PROPERTIES --- */

@import 'animation';

body { font-family: 'Titillium Web', sans-serif; }
footer { color: #525252; }
p { font-family: 'Open Sans', sans-serif; color: #525252; }
.cl { clear: both; height: 0; }


/* --- MAIN STYLING --- */
#top_section #site_name { text-transform: uppercase; font-weight: 300; font-size: 28px; letter-spacing: 10px; padding: 2% 3%; }
#nav_wrapper { background: #333; text-align: center; padding: 1.5%; }
#main_menu { display: block; }
#top_section ul { padding: 0; margin: 0; }
#top_section ul li { list-style: none; display: inline-block; cursor: pointer; color: $fontColour4; text-transform: capitalize; font-weight: 300; font-size: 20px; padding: 0 3%; }
#top_section ul li:first-of-type { display: none; }

#header_wrapper { text-align: center; border-bottom: 1px solid #efefef; padding: $paddingSize1; }
#header_wrapper h1 { text-transform: uppercase; color: $fontColour1; font-size: $fontSizeHeader1; font-weight: 300;
	animation: pulseAnimation 5s infinite linear;
    -moz-animation: pulseAnimation 5s infinite linear;
    -webkit-animation: pulseAnimation 5s infinite linear;
    -o-animation: pulseAnimation 5s infinite linear;
}
#mid_wrapper h2 { color: $fontColour1; font-size: $fontSizeHeader2; }
#mobile_trigger { display: none; }

#calc_wrapper, #calc_form_wrapper { text-align: center; }
#calc_form_wrapper label { width: 20%; font-size: 21px; width: 190px; color: #222; }
#calc_form_wrapper .odds_input { width: 50%; margin-bottom: 3%; padding: 2%; border-radius: 3px; border: 1px solid #e6e6e6; }
#calc_form_wrapper #submit, #calc_form_wrapper #clear_btn, .btn-default { float: right; background: #222; border: 0; padding: 1.5% 3%; border-radius: 3px; color: #fff; text-transform: uppercase; font-weight: 600; letter-spacing: 1px; }
#calc_form_wrapper #submit:hover, #calc_form_wrapper #clear_btn:hover, .btn-default:hover { background-color: #e6e6e6; border-color: #adadad; color: #222; }
#calc_form_wrapper #clear_btn { margin-right: 3%; }

#services_wrapper { padding: $paddingSize2; background: #f3f3f3; }
#services_wrapper .services_highlights { text-align: center; }
#services_wrapper .services_highlights div { display: inline-block; vertical-align: top; border-radius: 75px; width: 150px; height: 150px; position: relative; cursor: pointer; overflow: hidden; }
#services_wrapper .services_highlights div h2 { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); margin: 0; color: $fontColour2; }
#services_wrapper .services_highlights div:first-of-type, #services_wrapper .services_highlights div:last-of-type { background-color: transparent; }
#services_wrapper .services_highlights div:nth-child(2) { background-color: transparent; margin: 0 5% 5%; }
#services_wrapper .services_highlights div:nth-child(2) figure figcaption {
  	animation: backgroundColorChangeOposite 8s infinite alternate; 
  	-webkit-animation: backgroundColorChangeOposite 8s infinite alternate; 
  	-moz-animation: backgroundColorChangeOposite 8s infinite alternate; 
  	-o-animation: backgroundColorChangeOposite 8s infinite alternate; 
}

#mid_wrapper #highlights { padding: $paddingSize1; }
#mid_wrapper #highlights div { display: inline-block; vertical-align: top; }

#news_wrapper { background-color: $backgroundColour1; padding: $paddingSize1; }
#news_wrapper h2 { text-align: center; color: map-get($newsFontColourStack, headers); }
#news_wrapper h3 { color: map-get($newsFontColourStack, subHeader); }
#news_wrapper p { color: map-get($newsFontColourStack, text); }

#contact_wrapper { padding: $paddingSize2; text-align: center; border-bottom: 1px solid #ececec; height: 935px; }
#contact_wrapper .forminput { width: 500px; border: 1px solid #e6e6e6; padding: 1.1%; margin-bottom: 1.5%; border-radius: $borderRadius1; }
#contact_wrapper textarea.forminput { width: 1004px; height: 200px; }
#contact_wrapper legend { border: 0; color: $fontColour1; font-size: $fontSizeHeader2; }
#contact_wrapper #submitform { background-color: $backgroundColour2; color: $fontColour3; border: 0; font-size: 19px; padding: 1% 2%; text-transform: uppercase; letter-spacing: 1px; border-radius: $borderRadius1; }
#contact_wrapper #contact_response { opacity: 0; }
#contact_wrapper #contact_response h2 { color: $fontColour1; }

figure { margin: 0; position: relative; }
figure img { display: block; position: relative; z-index: 10; max-width: 100%; height: auto; }
figure figcaption { display: block; position: absolute; z-index: 5; }
 
figure figcaption { top: 0; left: 0; width: 150px; height: 150px; text-align: center; border-radius: 75px; overflow: hidden;
  animation: backgroundColorChange 8s infinite alternate;
  -moz-animation: backgroundColorChange 8s infinite alternate;
  -webkit-animation: backgroundColorChange 8s infinite alternate;
  -o-animation: backgroundColorChange 8s infinite alternate;

  -webkit-backface-visibility: hidden; 
  -moz-backface-visibility: hidden; 
  -ms-backface-visibility: hidden; 
  backface-visibility: hidden; 
  
  -webkit-transform: rotateY(-180deg); 
  -moz-transform: rotateY(-180deg); 
  -ms-transform: rotateY(-180deg); 
  -o-transform: rotateY(-180deg); 
  transform: rotateY(-180deg); 
  
  -webkit-transition: all 0.5s; 
  -moz-transition: all 0.5s; 
  -ms-transition: all 0.5s; 
  -o-transition: all 0.5s; 
  transition: all 0.5s; 
}

figure img { 
	-webkit-backface-visibility: hidden; 
	-moz-backface-visibility: hidden; 
	-ms-backface-visibility: hidden; 
	backface-visibility: hidden; 

	-webkit-transition: all 0.5s; 
	-moz-transition: all 0.5s; 
	-ms-transition: all 0.5s; 
	-o-transition: all 0.5s; 
	transition: all 0.5s; 
}

figure:hover img, figure:hover img { -webkit-transform: rotateY(180deg); -moz-transform: rotateY(180deg); -ms-transform: rotateY(180deg); -o-transform: rotateY(180deg); transform: rotateY(180deg); }
figure:hover figcaption { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); -ms-transform: rotateY(0); -o-transform: rotateY(0); transform: rotateY(0); } 


#calc_wrapper button { background-color: $backgroundColour2; border: 0; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -ms-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; 
	animation: buttonAnimation 5s 1;
    -moz-animation: buttonAnimation 5s 1;
    -webkit-animation: buttonAnimation 5s 1;
    -o-animation: buttonAnimation 5s 1;
    /*position: relative;*/
}
#calc_wrapper button:hover { -webkit-transform:scale(1.4); -moz-transform:scale(1.4);  -ms-transform:scale(1.4); -o-transform:scale(1.4);  transform:scale(1.4); color: $fontColour5; }


footer ul { margin: 0; text-align: center; }
footer ul li { display: inline-block; text-transform: uppercase; padding: 1%; cursor: pointer; }
footer ul li:nth-child(1), footer ul li:nth-child(2), footer ul li:nth-child(3) { border-right: 1px solid #e6e6e6; cursor: pointer; }


/*--- Bootstrap ---*/
button.close { background: url('../images/modalClose.png') no-repeat 0px 0px; padding: 36px; text-indent: -9999px; }
.modal-title { text-indent: -9999px; background: url('../images/dice.png') no-repeat 0px 0px; position: absolute; top: -10px; left: 60px; padding: 11px; width: 74px; }
.modal-header { background: #222; }
.modal-header .close { margin-top: -58px; opacity: 1; margin-right: -15px; }


@import 'responsive';

#news_wrapper section {
	@include breakpoint(sm) {
		width: 100%;
	}
	@include breakpoint(md) {
		width: 75%;
		margin: 0 auto;
	}
	@include breakpoint(lg) {
		width: 48%; display: inline-block; float: left;
	}
	@include breakpoint(xl) {
		width: 48%;
	}
}

#news_wrapper section:nth-child(even) {
	@include breakpoint(lg) {
		margin-right: 2%;
	}
	@include breakpoint(xl) {
		margin-right: 2%;
	}
}